<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ayaa.png</key>
			<dict>
				<key>width</key>
				<integer>1366</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>1366</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>asasas.png</key>
			<dict>
				<key>width</key>
				<integer>208</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>229</integer>
				<key>originalHeight</key>
				<integer>46</integer>
				<key>x</key>
				<integer>1368</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>aaaaaaaaaaaaaaaaa2.jpg</key>
			<dict>
				<key>width</key>
				<integer>321</integer>
				<key>height</key>
				<integer>321</integer>
				<key>originalWidth</key>
				<integer>321</integer>
				<key>originalHeight</key>
				<integer>321</integer>
				<key>x</key>
				<integer>1578</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cai3.png</key>
			<dict>
				<key>width</key>
				<integer>154</integer>
				<key>height</key>
				<integer>68</integer>
				<key>originalWidth</key>
				<integer>154</integer>
				<key>originalHeight</key>
				<integer>68</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>770</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cai2.png</key>
			<dict>
				<key>width</key>
				<integer>154</integer>
				<key>height</key>
				<integer>68</integer>
				<key>originalWidth</key>
				<integer>154</integer>
				<key>originalHeight</key>
				<integer>68</integer>
				<key>x</key>
				<integer>156</integer>
				<key>y</key>
				<integer>770</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>子剑.jpg</key>
			<dict>
				<key>width</key>
				<integer>160</integer>
				<key>height</key>
				<integer>160</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>312</integer>
				<key>y</key>
				<integer>770</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cai1.png</key>
			<dict>
				<key>width</key>
				<integer>633</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>633</integer>
				<key>originalHeight</key>
				<integer>34</integer>
				<key>x</key>
				<integer>474</integer>
				<key>y</key>
				<integer>770</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>cai5.png</key>
			<dict>
				<key>width</key>
				<integer>125</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>125</integer>
				<key>originalHeight</key>
				<integer>34</integer>
				<key>x</key>
				<integer>1109</integer>
				<key>y</key>
				<integer>770</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>13.png</key>
			<dict>
				<key>width</key>
				<integer>231</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>980</integer>
				<key>originalHeight</key>
				<integer>46</integer>
				<key>x</key>
				<integer>1236</integer>
				<key>y</key>
				<integer>770</integer>
				<key>offsetX</key>
				<real>-361.5</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>1.png</key>
			<dict>
				<key>width</key>
				<integer>169</integer>
				<key>height</key>
				<integer>41</integer>
				<key>originalWidth</key>
				<integer>980</integer>
				<key>originalHeight</key>
				<integer>46</integer>
				<key>x</key>
				<integer>1469</integer>
				<key>y</key>
				<integer>770</integer>
				<key>offsetX</key>
				<real>-389.5</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>cai4.png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>76</integer>
				<key>originalHeight</key>
				<integer>34</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>932</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>14.png</key>
			<dict>
				<key>width</key>
				<integer>164</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>980</integer>
				<key>originalHeight</key>
				<integer>46</integer>
				<key>x</key>
				<integer>78</integer>
				<key>y</key>
				<integer>932</integer>
				<key>offsetX</key>
				<real>-394</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>cai7.png</key>
			<dict>
				<key>width</key>
				<integer>390</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>390</integer>
				<key>originalHeight</key>
				<integer>43</integer>
				<key>x</key>
				<integer>244</integer>
				<key>y</key>
				<integer>932</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>9.png</key>
			<dict>
				<key>width</key>
				<integer>265</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>980</integer>
				<key>originalHeight</key>
				<integer>46</integer>
				<key>x</key>
				<integer>636</integer>
				<key>y</key>
				<integer>932</integer>
				<key>offsetX</key>
				<real>-343.5</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>12.png</key>
			<dict>
				<key>width</key>
				<integer>187</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>980</integer>
				<key>originalHeight</key>
				<integer>46</integer>
				<key>x</key>
				<integer>903</integer>
				<key>y</key>
				<integer>932</integer>
				<key>offsetX</key>
				<real>-379.5</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>gouleimi2.png</key>
			<dict>
				<key>width</key>
				<integer>421</integer>
				<key>height</key>
				<integer>41</integer>
				<key>originalWidth</key>
				<integer>980</integer>
				<key>originalHeight</key>
				<integer>46</integer>
				<key>x</key>
				<integer>1092</integer>
				<key>y</key>
				<integer>932</integer>
				<key>offsetX</key>
				<real>-262.5</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>8.png</key>
			<dict>
				<key>width</key>
				<integer>341</integer>
				<key>height</key>
				<integer>41</integer>
				<key>originalWidth</key>
				<integer>980</integer>
				<key>originalHeight</key>
				<integer>46</integer>
				<key>x</key>
				<integer>1515</integer>
				<key>y</key>
				<integer>932</integer>
				<key>offsetX</key>
				<real>-303.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>gouleimi.png</key>
			<dict>
				<key>width</key>
				<integer>790</integer>
				<key>height</key>
				<integer>44</integer>
				<key>originalWidth</key>
				<integer>980</integer>
				<key>originalHeight</key>
				<integer>46</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>977</integer>
				<key>offsetX</key>
				<real>-76</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>2.png</key>
			<dict>
				<key>width</key>
				<integer>581</integer>
				<key>height</key>
				<integer>42</integer>
				<key>originalWidth</key>
				<integer>980</integer>
				<key>originalHeight</key>
				<integer>46</integer>
				<key>x</key>
				<integer>792</integer>
				<key>y</key>
				<integer>977</integer>
				<key>offsetX</key>
				<real>-184.5</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>cai6.png</key>
			<dict>
				<key>width</key>
				<integer>525</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>525</integer>
				<key>originalHeight</key>
				<integer>34</integer>
				<key>x</key>
				<integer>1375</integer>
				<key>y</key>
				<integer>977</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>About0.png</string>
			<key>realTextureFileName</key>
			<string>About0.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>