<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>flower.png</key>
			<dict>
				<key>width</key>
				<integer>1559</integer>
				<key>height</key>
				<integer>60</integer>
				<key>originalWidth</key>
				<integer>1559</integer>
				<key>originalHeight</key>
				<integer>60</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>bg1.png</key>
			<dict>
				<key>width</key>
				<integer>1366</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>1366</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>62</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>score1.png</key>
			<dict>
				<key>width</key>
				<integer>551</integer>
				<key>height</key>
				<integer>137</integer>
				<key>originalWidth</key>
				<integer>551</integer>
				<key>originalHeight</key>
				<integer>137</integer>
				<key>x</key>
				<integer>1368</integer>
				<key>y</key>
				<integer>62</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>score2.png</key>
			<dict>
				<key>width</key>
				<integer>547</integer>
				<key>height</key>
				<integer>147</integer>
				<key>originalWidth</key>
				<integer>547</integer>
				<key>originalHeight</key>
				<integer>147</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>832</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>start1.png</key>
			<dict>
				<key>width</key>
				<integer>547</integer>
				<key>height</key>
				<integer>136</integer>
				<key>originalWidth</key>
				<integer>547</integer>
				<key>originalHeight</key>
				<integer>136</integer>
				<key>x</key>
				<integer>549</integer>
				<key>y</key>
				<integer>832</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>start2.png</key>
			<dict>
				<key>width</key>
				<integer>546</integer>
				<key>height</key>
				<integer>145</integer>
				<key>originalWidth</key>
				<integer>546</integer>
				<key>originalHeight</key>
				<integer>145</integer>
				<key>x</key>
				<integer>1098</integer>
				<key>y</key>
				<integer>832</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>91.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>73</integer>
				<key>originalHeight</key>
				<integer>76</integer>
				<key>x</key>
				<integer>1646</integer>
				<key>y</key>
				<integer>832</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>92.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>73</integer>
				<key>originalHeight</key>
				<integer>76</integer>
				<key>x</key>
				<integer>1721</integer>
				<key>y</key>
				<integer>832</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>Cirno_Ball0.png</string>
			<key>realTextureFileName</key>
			<string>Cirno_Ball0.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>