<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>未标题-2.png</key>
			<dict>
				<key>width</key>
				<integer>1366</integer>
				<key>height</key>
				<integer>768</integer>
				<key>originalWidth</key>
				<integer>1366</integer>
				<key>originalHeight</key>
				<integer>768</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>easy2.png</key>
			<dict>
				<key>width</key>
				<integer>980</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>980</integer>
				<key>originalHeight</key>
				<integer>46</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>770</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>easy3.png</key>
			<dict>
				<key>width</key>
				<integer>980</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>980</integer>
				<key>originalHeight</key>
				<integer>46</integer>
				<key>x</key>
				<integer>982</integer>
				<key>y</key>
				<integer>770</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>normal1.png</key>
			<dict>
				<key>width</key>
				<integer>980</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>980</integer>
				<key>originalHeight</key>
				<integer>46</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>818</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>normal2.png</key>
			<dict>
				<key>width</key>
				<integer>980</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>980</integer>
				<key>originalHeight</key>
				<integer>46</integer>
				<key>x</key>
				<integer>982</integer>
				<key>y</key>
				<integer>818</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>露娜题刻1.png</key>
			<dict>
				<key>width</key>
				<integer>980</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>980</integer>
				<key>originalHeight</key>
				<integer>46</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>866</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>露娜题刻2.png</key>
			<dict>
				<key>width</key>
				<integer>980</integer>
				<key>height</key>
				<integer>46</integer>
				<key>originalWidth</key>
				<integer>980</integer>
				<key>originalHeight</key>
				<integer>46</integer>
				<key>x</key>
				<integer>982</integer>
				<key>y</key>
				<integer>866</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>flower.png</key>
			<dict>
				<key>width</key>
				<integer>1559</integer>
				<key>height</key>
				<integer>60</integer>
				<key>originalWidth</key>
				<integer>1559</integer>
				<key>originalHeight</key>
				<integer>60</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>914</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>返回.png</key>
			<dict>
				<key>width</key>
				<integer>334</integer>
				<key>height</key>
				<integer>88</integer>
				<key>originalWidth</key>
				<integer>334</integer>
				<key>originalHeight</key>
				<integer>88</integer>
				<key>x</key>
				<integer>1561</integer>
				<key>y</key>
				<integer>914</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>ModeSelect0.png</string>
			<key>realTextureFileName</key>
			<string>ModeSelect0.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>